# Question 1

In [3]:
def solution(n):
    sym = str(n)[::-1]
    if str(n) == sym:
        print("True")
    else:
        print("False")

solution(7227)

True

# Question 2

In [4]:
def solution(string):
    res = string.replace(' ','').split(',')
    out_num = 1
    for ele in res:
        out_num *= int(ele)
    print(out_num)
    
solution("2, 3")

6

# Question 3

In [7]:
def solution(num):
    result = ''.join(str(int(i)**2) for i in str(num))
    print(result)
solution(9119)

811181

# Question 4

In [8]:
def solution(lst):
    result = sorted(set(lst))
    print(result)
solution([1,3,3,5,5])

[1, 3, 5]

# Question 5

In [10]:
def mean(num):
    lst = [int(ele) for ele in str(num)]
    result = sum(lst) / len(str(num))
    print(int(result))
mean(12345)

3